@font-face {
  font-family: 'NotoSansKR-ExtraBold';
  src: url('/fonts/NotoSansKR-ExtraBold.ttf') format('truetype');
  font-weight: 8--;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR-Bold';
  src: url('/fonts/NotoSansKR-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR-Medium';
  src: url('/fonts/NotoSansKR-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR-Regular';
  src: url('/fonts/NotoSansKR-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR-Light';
  src: url('/fonts/NotoSansKR-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Oranienbaum-Regular';
  src: url('/fonts/Oranienbaum-Regular.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
