* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: 'NotosansKR-Regular', sans-serif;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 1920px) {
  html {
    font-size: 0.8333vw;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 2.0833vw;
  }
}
