* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: 'NotosansKR-Regular', sans-serif;

  &::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    border-radius: 1rem;
  }
}

body {
  background-color: var(--content-main-color);
}

@media (max-width: 1920px) {
  html {
    font-size: 0.8333vw;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 2.0833vw;
  }
}
